body {
	background: #2e557b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlNTU3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTE5MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #2e557b 0%, #051932 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e557b), color-stop(100%,#051932)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2e557b 0%,#051932 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2e557b 0%,#051932 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2e557b 0%,#051932 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2e557b 0%,#051932 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e557b', endColorstr='#051932',GradientType=0 ); /* IE6-8 */
}

.button {
	background: #f8bb49; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4YmI0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNzk2MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f8bb49 0%, #f79621 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8bb49), color-stop(100%,#f79621)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8bb49 0%,#f79621 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8bb49 0%,#f79621 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8bb49 0%,#f79621 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8bb49 0%,#f79621 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8bb49', endColorstr='#f79621',GradientType=0 ); /* IE6-8 */
	box-shadow:1px 1px 3px #999;
	border:1px solid #b66300;
}
#generate-code {
	margin-top:35px;
}
input[type='text'],
input[type='number'],
textarea {
	box-shadow:1px 1px 3px #999;
}

/* panel colors */
.panel {
	background-color:#eaeaea;
	border:1px solid #cccccc;
}

/* feature row styles */
.feature-row {
	box-shadow:1px 1px 3px #999;
	margin-bottom:10px !important;
}
	/* remove input margins */
	.feature-row input[type='text'] {
		margin-bottom:0;
		box-shadow: none;
	}

	/* remove row button styles */
	.remove-row-wrapper .remove-row {
	  background-color:#fff2f2;
	  color:#ff0000;
	  font-size:1.3rem;
	  display:block;
	}
	.remove-row-wrapper .remove-row:hover {
	  color:#cc0000;
	}

	/* move up row button styles */
	.move-row-up {
	  font-size:1rem;
	  display:block;
	}

/* text styles */
h1 {
	font-family: 'Mate SC', serif;
	font-size: 30px !important;
	line-height: 30px !important;
	color: #1a3f68 !important;
	margin-bottom: 24px !important;
	text-transform: uppercase;
	letter-spacing: -1px;
}
label {
  	font-family: 'Mate SC', serif;
	font-size: 19px;
	color: #333;
	margin-bottom: 12px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}